<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 - Page Not Found</title>
  <%- include('../partials/_css.ejs') %>

</head>
<body>
  <div class="container text-center mt-5">
    <h1 class="mb-5">Error 404 - The page you requested could not be found</h1>
  
    <h5 class="mb-5">
      You may have mistyped the address or the page may have moved.
    </h5>
    <a onclick="history.back()" class="btn btn-danger">Go Back</a>
  </div>
</body>
</html>


